html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  background: url(../../images/course_wallpaper.jpg);
  background-size: cover;
  font-family: sans-serif;

  img {
    width: 100px;
    float: right;
    margin: 5px;
  }
}